<div class="util">
  <div class="wrap">
    <div class="util-l">
      <span id="today"></span>
      <span class="live-pill"><span class="live-dot"></span>いまの全国再エネ比率 <b id="reShare">32.1%</b></span>
    </div>
    <div class="util-r">
      <a href="dashboard.html"><span class="material-symbols-outlined">monitoring</span>データダッシュボード</a>
      <a href="#"><span class="material-symbols-outlined">place</span>地域: 全国</a>
      <a href="#"><span class="material-symbols-outlined">help</span>ヘルプ</a>
      <div id="settingsMount" class="set-trigger"></div>
      <a href="#" class="login"><span class="material-symbols-outlined">person</span>ログイン</a>
      <a href="#" class="reg">新規登録</a>
    </div>
  </div>
</div>
